<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |                                                                                 | -->
<!-- =================================================================================== -->
<robot name="test_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0000 0.0000 0.0280"/>
      <mass value="1572.9"/>
      <inertia ixx="89.282" ixy="-0.47721" ixz="0.85562" iyy="107.51" iyz="0.0067576" izz="172.02"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.1" length="0.056"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.1" length="0.056"/>
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0070 0.0000 0.0740"/>
      <mass value="1385.5"/>
      <inertia ixx="90.873" ixy="33.809" ixz="17.159" iyy="147.03" iyz="0.063634" izz="168.19"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.0386"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.0386"/>
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial>
      <origin rpy="0 0.6971631336422324 0" xyz="0.0600 0.0000 0.1305"/>
      <mass value="958.62"/>
      <inertia ixx="180.42" ixy="-0.83462" ixz="0.32549" iyy="177.68" iyz="-20.82" izz="20.495"/>
    </inertial>
    <visual>
      <origin rpy="0 0.6971631336422324 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.12"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.12"/>
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial>
      <origin rpy="0 1.39432 0" xyz="0.1349 0.0000 0.1345"/>
      <mass value="710.03"/>
      <inertia ixx="11.887" ixy="-0.12154" ixz="-1.3604" iyy="98.805" iyz="-0.056505" izz="96.251"/>
    </inertial>
    <visual>
      <origin rpy="0 1.39432 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.09"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1728 0.0000 0.0893"/>
      <mass value="173.73"/>
      <inertia ixx="1.8001" ixy="-0.18515" ixz="0.00051232" iyy="5.514" iyz="0.00070469" izz="6.3498"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.028"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.028"/>
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0.2218 0.0000 0.0786"/>
      <mass value="72.17"/>
      <inertia ixx="0.3938" ixy="-0.085332" ixz="1.7223E-06" iyy="0.68945" iyz="-7.0292E-06" izz="0.67292"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.08"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="package://kuka_kr210_support/meshes/kr210l150/visual/base_link.dae"/> -->
        <cylinder radius="0.03" length="0.08"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint_a1" type="revolute">
    <origin rpy="0 0 0" xyz="0.0000 0.0000 0.0560"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" lower="-3.228859205" upper="3.228859205" velocity="2.146755039"/>
  </joint>
  <joint name="joint_a2" type="revolute">
    <origin rpy="0 0 0" xyz="0.0140 0.0000 0.0920"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-0.785398185" upper="1.483529905" velocity="2.007128695"/>
  </joint>
  <joint name="joint_a3" type="revolute">
    <origin rpy="0 0 0" xyz="0.1060 0.0000 0.1690"/>
    <parent link="link_2"/>
    <child link="link_3"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-3.66519153" upper="1.134464045" velocity="1.954768816"/>
  </joint>
  <joint name="joint_a4" type="revolute">
    <origin rpy="0 0 0" xyz="0.1638 0.0000 0.1000"/>
    <parent link="link_3"/>
    <child link="link_4"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-6.10865255" upper="6.10865255" velocity="3.124139447"/>
  </joint>
  <joint name="joint_a5" type="revolute">
    <origin rpy="0 0 0" xyz="0.1818 0.0000 0.0786"/>
    <parent link="link_4"/>
    <child link="link_5"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-2.181661625" upper="2.181661625" velocity="3.001966396"/>
  </joint>
</robot>
