<?xml version="1.0"?>
<robot name="sphere">
    <link name="base_link">
        <visual>
            <origin rpy="1.570796327 0 0" xyz="-0.61 0.61 0"/>
            <geometry>
            <cylider radius="0.1" length="2"/>
            </geometry>
            <material name="base">
            <color rgba="1 0 0 1"/>
            </material>
        </visual>
    </link>
<robot/>