<?xml version="1.0" ?>
<!-- =================================================================================== -->
<!-- |                                                                                 | -->
<!-- =================================================================================== -->
<robot name="test_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <origin rpy="-1.570796327 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.1", length="0.056"/>
      </geometry>
    </visual>
  </link>

  <joint name="joint_a1" type="revolute">
    <origin rpy="0 0 0" xyz="0.0000 0.0000 0.0560"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" lower="-3.228859205" upper="3.228859205" velocity="2.146755039"/>
  </joint>

  <link name="link_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03", length="0.0386"/>
      </geometry>
    </visual>
  </link>


  <joint name="joint_a2" type="revolute">
    <origin rpy="0 0 0" xyz="0.0140 0.0000 0.0920"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-0.785398185" upper="1.483529905" velocity="2.007128695"/>
  </joint>


  <link name="link_2">
    <visual>
      <origin rpy="-1.570796327 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03", length="0.12"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_a3" type="revolute">
    <origin rpy="0 0 0" xyz="0.1060 0.0000 0.1690"/>
    <parent link="link_2"/>
    <child link="link_3"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-3.66519153" upper="1.134464045" velocity="1.954768816"/>
  </joint>



  <link name="link_3">
    <visual>
      <origin rpy="-1.570796327 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03", length="0.09"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_a4" type="revolute">
    <origin rpy="0 0 0" xyz="0.1638 0.0000 0.1000"/>
    <parent link="link_3"/>
    <child link="link_4"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-6.10865255" upper="6.10865255" velocity="3.124139447"/>
  </joint>


  <link name="link_4">
    <visual>
      <origin rpy="-1.570796327 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03", length="0.028"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_a5" type="revolute">
    <origin rpy="0 0 0" xyz="0.1818 0.0000 0.0786"/>
    <parent link="link_4"/>
    <child link="link_5"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="-2.181661625" upper="2.181661625" velocity="3.001966396"/>
  </joint>


  <link name="link_5">
    <visual>
      <origin rpy="-1.570796327 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.03", length="0.08"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
  </link>
</robot>

